.about-container {
  max-width: 750px;
  margin: 75px auto 0 auto;
  padding: 0 15px 0 15px; }

.about-img {
  width: 100%;
  height: auto;
  border-radius: 2px; }

.about-content {
  padding: 0 0 0 0; }

.about-h3 {
  font-size: 1.414em;
  font-weight: 700; }

@media only screen and (max-width: 767px) and (max-height: 1024px) {
  .about-container {
    margin-top: 25px; } }
