.viewport-wrap {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 15px 0 15px; }

.home-h1 {
  letter-spacing: -.003em;
  font-size: 47px;
  font-weight: 500;
  line-height: 140%; }
  .home-h1 a {
    color: #45c01f; }

.cover-img-layout {
  width: 100%;
  text-align: center;
  display: block; }

.cover-img {
  display: block;
  margin: 0 auto 25px auto;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%; }

.weird {
  position: absolute;
  font-size: 150px;
  z-index: -99;
  top: 475px;
  color: transparent;
  text-shadow: 0 0 #45c01f; }

@media only screen and (max-width: 767px) and (max-height: 1024px) {
  .viewport-wrap {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .home-h1 {
    font-size: 39px; } }
