.intro-layout {
  margin-top: 50px; }

.intro-h3 {
  font-size: 24px;
  font-weight: 500; }

.intro-p-click {
  color: #0000EE;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  border-radius: 2px;
  margin-bottom: 5px;
  transition: background-color 0.2s ease-in-out; }

.intro-p-click:hover {
  background-color: #ededed;
  cursor: pointer; }

.intro-ul {
  list-style-type: square;
  list-style-position: outside;
  padding-left: 30px;
  margin-bottom: 20px; }

.intro-li {
  padding-bottom: 10px;
  line-height: 150%; }

.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s ease-in-out; }

.show {
  max-height: 99em;
  transition: max-height 1s ease-in-out; }

@media only screen and (max-width: 768px) and (max-height: 1024px) {
  .intro-p-click {
    background-color: #ededed; } }
