nav {
  display: block;
  margin: 0 auto 0 auto;
  padding: 15px 15px 15px 15px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  overflow: hidden;
  background-color: white;
  color: #484848; }
  nav a, nav a:active, nav a:visited {
    color: #484848; }

.nav-link-left {
  font-weight: 500;
  float: left; }

.nav-link-right {
  float: right; }

.nav-link:hover {
  color: inherit; }

.nav-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999; }

@media only screen and (max-width: 767px) and (max-height: 1024px) {
  nav {
    margin: 0 auto 0 auto;
    font-weight: 300;
    font-size: 16px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    padding: 15px 15px 15px 15px; } }
