@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, Oxygen-Sans, “Ubuntu”, Ubuntu, “Cantarell”, Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.88); }

h1 {
  font-size: 54px;
  font-weight: 600;
  letter-spacing: -.01em; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5em; }

p {
  line-height: 1.5em;
  letter-spacing: -.021em; }

a, a:active, a:visited {
  color: #4500ee;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  animation-name: blinkfast;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55); }

@keyframes blinkfast {
  0% {
    color: #4500ee; }
  50% {
    color: #fbf34c; }
  to {
    color: #4500ee; } }

::selection {
  background: #4500ee;
  /* WebKit/Blink Browsers */
  color: #fbf34c; }

::-moz-selection {
  background: #4500ee;
  /* Gecko Browsers */
  color: #fbf34c; }

.viewport-wrap {
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row; }

.flex-item {
  width: 50%; }

.flex-center {
  align-items: center; }

.cover-info {
  position: relative;
  padding: 50px;
  top: 5%; }

.cover-image {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.cover-label {
  text-transform: uppercase; }

.cover-rhythm-1 {
  margin-bottom: 15px; }

.cover-rhythm-2 {
  margin-bottom: 30px; }

.sm-screen {
  display: none; }

@media only screen and (max-width: 768px) and (max-height: 1024px) {
  .viewport-wrap {
    flex-direction: column; }
  .flex-item {
    height: 25vh;
    width: 100%; }
  .cover-info {
    position: initial;
    padding: 20px;
    top: 5%; }
  .sm-screen {
    display: initial; }
  .bg-screen {
    display: none; } }
