/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(./styles/bootstrap-grid.min.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Oxygen-Sans, Ubuntu, "Ubuntu", Cantarell, "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #484848;
  text-rendering: optimizeLegibility; }

p {
  line-height: 150%; }

a, a:active, a:visited {
  color: #444;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.width {
  margin-left: auto;
  margin-right: auto; }

.lg-width {
  max-width: 1175px;
  margin-left: auto;
  margin-right: auto; }

.home-body-width {
  margin-left: auto;
  margin-right: auto; }

.body {
  padding: 0 120px 0 120px; }

@keyframes blinkfast {
  0% {
    color: #4500ee; }
  50% {
    color: #fbf34c; }
  to {
    color: #4500ee; } }

::selection {
  background: #45c01f;
  /* WebKit/Blink Browsers */
  color: white; }

::-moz-selection {
  background: #45c01f;
  /* Gecko Browsers */
  color: white; }

footer .footer-link {
  color: #45c01f;
  margin-left: 60px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

@media only screen and (max-width: 767px) and (max-height: 1024px) {
  .body {
    padding: 0 15px 0 15px; }
  html {
    font-size: 16px; }
  footer .footer-link {
    display: block;
    margin-left: 0;
    margin-top: 15px; } }

.about-container {
  max-width: 750px;
  margin: 75px auto 0 auto;
  padding: 0 15px 0 15px; }

.about-img {
  width: 100%;
  height: auto;
  border-radius: 2px; }

.about-content {
  padding: 0 0 0 0; }

.about-h3 {
  font-size: 1.414em;
  font-weight: 700; }

@media only screen and (max-width: 767px) and (max-height: 1024px) {
  .about-container {
    margin-top: 25px; } }

.viewport-wrap {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 15px 0 15px; }

.home-h1 {
  letter-spacing: -.003em;
  font-size: 47px;
  font-weight: 500;
  line-height: 140%; }
  .home-h1 a {
    color: #45c01f; }

.cover-img-layout {
  width: 100%;
  text-align: center;
  display: block; }

.cover-img {
  display: block;
  margin: 0 auto 25px auto;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%; }

.weird {
  position: absolute;
  font-size: 150px;
  z-index: -99;
  top: 475px;
  color: transparent;
  text-shadow: 0 0 #45c01f; }

@media only screen and (max-width: 767px) and (max-height: 1024px) {
  .viewport-wrap {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .home-h1 {
    font-size: 39px; } }

.intro-layout {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 715px;
  padding: 0 15px 0 15px; }

.intro-h3 {
  font-size: 32px;
  font-weight: 700; }

.intro-p {
  font-size: 20px; }

.intro-p-click {
  color: #4433ff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 5px;
  transition: background-color 0.2s ease-in-out; }

.intro-p-click:hover {
  background-color: #ededed;
  cursor: pointer; }

.intro-ul {
  list-style-type: square;
  list-style-position: outside;
  padding-left: 30px;
  margin-bottom: 20px;
  font-size: 20px; }

.intro-li {
  padding-bottom: 10px;
  line-height: 150%; }

.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease; }

.intro-chevron {
  display: inline-block;
  transition: all 0.3s ease; }

.show {
  max-height: 99em; }

.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

@media only screen and (min-width: 767px) {
  .intro-item-layout {
    display: inline-block; }
  .intro-item-desc {
    padding: 10px 10px 10px 10px;
    margin-right: 10px; }
  .intro-item-desc-layout {
    flex: initial;
    max-width: initial;
    display: inline-block;
    width: initial; }
  .intro-dropdown-icon {
    margin-right: 10px; } }

.intro-item-layout {
  color: #4433ff;
  margin-bottom: 15px; }

.intro-item-layout:hover {
  background-color: #ededed;
  cursor: pointer; }

.intro-item-desc {
  padding: 10px 0 10px 10px;
  font-size: 20px; }

.intro-dropdown-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;
  transition: all 0.3s ease; }

@media only screen and (max-width: 767px) and (max-height: 1024px) {
  .intro-p-click {
    display: block;
    background-color: #ededed;
    margin-bottom: 10px;
    max-width: 100%;
    padding-right: 65px;
    position: relative; }
  .intro-h3 {
    font-size: 20px; }
  .intro-p {
    font-size: 16px; }
  .intro-ul {
    font-size: 15.5px; }
  .intro-p-click {
    font-size: 16px; }
  .intro-chevron {
    position: absolute;
    right: 25px;
    top: 20px; }
  .intro-item-layout {
    background-color: #f3f3f3;
    cursor: pointer; }
  .intro-item-desc {
    font-size: 15.5px; } }

.stub-layout {
  width: 100%;
  padding: 20px 0 20px 0;
  margin-top: 175px;
  margin-bottom: 100px; }

.stub-layout:active {
  color: #444; }

.stub-layout:visited {
  color: #444; }

.stub-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 700px; }

.stub-left {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.stub-left-layout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 25% 0 0 0; }

.stub-img {
  border-radius: 3px;
  max-height: auto;
  max-width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.stub-label {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px; }

.stub-desc {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  font-size: 32px;
  font-weight: 500;
  margin: 10px 0 0 0;
  line-height: 120%; }

.stub-platform {
  font-size: 20px;
  margin-top: 45px;
  color: #999;
  font-weight: 300; }

.stub-button {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  background-color: #f2f2f2;
  border: 1px solid #c6c6c6;
  color: #757575;
  padding: 5px 10px 5px 10px;
  margin: 10px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: inline-block;
  border-radius: 2px;
  font-weight: 300; }

.stub-button:hover {
  color: #444;
  font-weight: 400;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8; }

.stub-header {
  font-size: 24px;
  font-weight: 300;
  line-height: 150%;
  margin-top: 250px;
  margin-bottom: 25px; }

.stub-header-span {
  font-weight: 500; }

.stub-header-a {
  color: #0000EE; }

@media only screen and (max-width: 767px) and (max-height: 1024px) {
  .stub-layout {
    margin-top: 50px;
    margin-bottom: 50px; }
  .stub-left-layout {
    padding: 0 15px 0 15px; }
  .stub-right-layout {
    margin-top: 25px;
    padding: 0 15px 0 15px; }
  .stub-row {
    flex-direction: column; }
  .stub-right {
    margin-top: 25px; }
  .stub-label {
    font-size: 16px; }
  .stub-desc {
    font-size: 24px; }
  .stub-platform {
    font-size: 16px;
    margin-top: 20px; } }

.button {
  display: inline-block;
  background-color: #4500ee;
  padding: 14px 2em;
  margin: .5em .5em .5em 0;
  color: #fff;
  font-weight: 300;
  white-space: normal;
  border-radius: 3px;
  letter-spacing: 1.9px;
  min-width: 112px;
  min-height: 48px;
  border: 0;
  outline: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  line-height: 1em;
  vertical-align: middle;
  user-select: none;
  text-align: center; }

.button:hover {
  background-color: #5500ff;
  color: #fff; }

.button-resume {
  margin-top: 25px; }

nav {
  display: block;
  margin: 0 auto 0 auto;
  padding: 15px 15px 15px 15px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  overflow: hidden;
  background-color: white;
  color: #484848; }
  nav a, nav a:active, nav a:visited {
    color: #484848; }

.nav-link-left {
  font-weight: 500;
  float: left; }

.nav-link-right {
  float: right; }

.nav-link:hover {
  color: inherit; }

.nav-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999; }

@media only screen and (max-width: 767px) and (max-height: 1024px) {
  nav {
    margin: 0 auto 0 auto;
    font-weight: 300;
    font-size: 16px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    padding: 15px 15px 15px 15px; } }

.project-img-full-bleed {
  width: 100%;
  height: auto;
  padding: 200px; }

.project-big-img {
  min-height: calc(100vh - 50px);
  width: 100%;
  object-fit: cover; }

.project-summary {
  border-radius: 4px;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 441px;
  position: absolute;
  top: 200px;
  left: 120px; }

.project-summary-h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px; }

.project-summary-label {
  text-transform: uppercase;
  font-weight: 600; }

.project-summary-ul {
  margin: 7px 0 0 0;
  line-height: 170%; }

.project-section-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
  margin: 150px 0 50px 0; }

.project-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.project-content {
  padding: 15px; }

.project-company-img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.project-company-desc {
  margin-top: 25px; }

.project-h3 {
  font-weight: 700;
  font-size: 27px;
  line-height: 120%; }

.project-p {
  font-size: 18px; }

.project-glimpse-layout {
  background-color: #f0f0f0;
  margin: -3px 0 0 0;
  padding: 0 0 50px 0; }

.project-glimpse-section-title {
  margin: 0 0 0 0;
  padding: 50px 0 40px 0;
  line-height: 150%; }

.project-glimpse-label {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px; }

.project-glimpse-img-layout {
  max-width: 1175px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }

.project-glimpse-img {
  width: 100%;
  height: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px; }

.project-glimpse-img-caption {
  display: block;
  font-size: 15px;
  text-align: center;
  margin-top: 10px; }

.project-team-img {
  display: block;
  margin: 200px auto 0 auto;
  width: 500px;
  max-width: 100%;
  height: auto; }

.project-cookie-img {
  display: block;
  margin: 200px auto 125px auto;
  width: 500px;
  max-width: 100%;
  height: auto; }

.narrow-content {
  max-width: 715px;
  margin-left: auto;
  margin-right: auto; }

.project-slack-img {
  max-width: 325px; }

.project-slack-layout {
  max-width: 325px;
  margin-left: auto;
  margin-right: auto; }

.project-slack-result {
  display: inline-block;
  margin-top: 20px;
  max-width: 400px; }

@media only screen and (max-width: 767px) and (max-height: 1024px) {
  .project-big-img {
    min-height: calc(50vh - 50px);
    width: 100%; }
  .project-summary {
    width: 100%;
    position: initial;
    display: block;
    padding: 15px 15px 0 15px;
    box-shadow: none;
    border-radius: 0; }
  .project-row {
    flex-direction: column; }
  .project-33 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .project-66 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .narrow-content {
    padding-left: 15px;
    padding-right: 15px; }
  .project-glimpse-img-layout {
    padding-left: 15px;
    padding-right: 15px; }
  .project-slack-result {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 25px; }
  .project-content {
    padding-left: 0;
    padding-right: 0; }
  .project-slack-img {
    max-width: 100%; } }
